body {
  background: #eeeeee;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
main > div {
  display: flex;
  padding: 1rem;
  max-width: 960px;
}
select {
  padding: 1rem;
  margin-left: 1rem;
}
select:first-child {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  main > div {
    display: block;
  }
  select {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  select:first-child {
    margin-top: 0;
  }
}
